html, body {
    background-color: var(--bg-color)!important;
}

#login-title {
    font-size: 3em;
    font-weight: bold;
    color: var(--spotify-green);
}

.PlayerRSWP {
    background-color: var(--bg-color)!important;
}

input .form-control {
  border: none;
  text-decoration: none;
  color: white;
}

input[type="search"]:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.btn:hover {
    background-color: var(--spotify-green);
    transform: translateY(-5px);
    box-shadow: 0 5px 0 #138b49;
    transition: 0.25s;
    text-decoration: none;
    border: none;
}

.btn {
    background-color: var(--spotify-green);
    transition: 0.25s;
    text-decoration: none;
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 999em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 999em;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184);
    border-radius: 999em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
    border-radius: 999em;
  }

:root {
    --spotify-green: #1db964;
    --spotify-black: #191414;
    --bg-color: #ffffff;
}